* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #4a4b4e;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dee2e6;
    border-bottom: 3px solid #357ae8;
}

.weather {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding-top: 5%;
    margin-bottom: 100px;
}

.weather-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    margin: 5%;
    margin-top: 3%;
    width: 50%;
    max-width: 500px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    gap: 1%;
}

.table-register {
    width: 80%;
    height: 500px;
    overflow-y: auto;
    padding: 20px;
    border-radius: 6px;


}

footer {
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
}

.toogle {
    width: 137px;
    margin: 10px 76%;
    height: 28px;
    margin-right: 10px !important;

    background-color: #357ae8;
    border-radius: 6px;
    color: #fff;
    border: none;
    position: static;
}

.toogle-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}


table th:first-child {
    border-radius: 10px 0 0 0px;
}

table th:last-child {
    border-radius: 0 10px 0px 0;
}

table th,
td {
    padding-left: 15px !important;
}

table th {
    background-color: rgb(74 75 78) !important;
    color: white;
}

.btn {
    
    width: 35%;
    padding: 6px;

}

.btn:focus {
    outline: none;
}




h2 {
    padding: 30px;
    text-align: center;
}

.cronometro {

    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cronometro h1 {
   display: flex;
    text-align: center;
    border-radius: 6px;
    max-width: 300px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: #4a4b4e;
    color: #f8f9fa;
    padding: 0px 20px;
    border-bottom: 3px solid #357ae8;

}

.boton {
    width: 100%;
    height: 50px;
    display: flex;
    align-content: center;
    gap: 3px;
    justify-content: center;
}

.boton button {
    color: white;
    border-radius: 6px;
    border: none;
    width: 100%;
    max-width: 200px;
    min-width: 90px;
}



#iniciar {
    color: #0cc243;
}

#parar {
    color: #dc3545;
}

#reiniciar {
   
    color: #357ae8;
}

.boton button:hover {
    background-color: rgba(169, 169, 169, 0.363) !important;

}

.imagen img {
    margin-top: -20px;
    width: 200px;
    height: 133px;
    margin-top: -50px;
    text-align: center;

}

.crono {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}